<!DOCTYPE html>
<!-- beautify ignore:start -->
<html lang="pt" 
	class="light-style layout-menu-fixed" 
	dir="ltr" 
	data-theme="theme-default" 
	data-assets-path="/layout/" 
	data-template="vertical-menu-template-free"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorate="~{layout/LayoutPadrao}">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="content-wrapper">
			<div class="container-xxl flex-grow-1 container-p-y">
				<h4 class="fw-bold py-3 mb-4">
    					<span class="text-muted fw-light">Empresa /</span> Cadastro de Empresa
				</h4>

				<div class="card mb-4">
					<h5 class="card-header">Dados da Empresa</h5>
					<div class="card-body">
						<th:block th:include="msgs/MsgSucesso"></th:block>
						<form id="formEmpresa" method="POST" th:object="${empresa}">
							<th:block th:include="msgs/MsgErroValidacao"></th:block>

							<div class="tab-content">
								<!-- ================= DADOS EMPRESA ================= -->
								<div class="tab-pane fade show active" id="dadosEmpresa">
									<div class="row">	
										<div class="mb-3 col-md-4">
											<label class="form-label">Razão Social</label>
											<input class="form-control" type="text" th:field="*{razaoSocial}"/>
										</div>
								
										<div class="mb-3 col-md-5">
											<label class="form-label">Nome Fantasia</label>
											<input class="form-control" type="text" th:field="*{nomeFantasia}"/>
										</div>
								
										<div class="mb-3 col-md-3">
											<label class="form-label">CNPJ</label>
											<input class="form-control js-cnpj" type="text" th:field="*{cnpj}"/>
										</div>
								
										<div class="mb-3 col-md-3">
											<label class="form-label">Inscrição Estadual</label>
											<input class="form-control" type="text" th:field="*{inscricaoEstadual}" />
										</div>
										
										<div class="mb-3 col-md-3">
											<label class="form-label" for="regimeTributario">Regime Tributário</label>
											<select class="form-select" id="regimeTributario" th:field="*{regimeTributario}">
											    <option value="">Selecione um registro</option>
											    <option th:each="regimeTributario : ${regimes}" th:value="${regimeTributario}" th:text="${regimeTributario.descricao}"></option>
											</select>
										</div>
										
										<div class="mb-3 col-md-3">
											<label class="form-label">Data de Abertura</label>
											<input class="form-control" type="date" th:field="*{dataAbertura}" />
										</div>
										
										<div class="mb-3 col-md-3">
											<label class="form-label">Tipo</label>
											<div>
												<th:block th:each="tipo : ${tipos}">
													<div class="form-check form-check-inline">						
														<input class="form-check-input" th:id="|id_${tipo}|" type="radio" th:value="${tipo}" th:field="*{tipo}" >
														<label class="form-check-label ms-2" th:for="|id_${tipo}|" th:text="${tipo.descricao}"></label>
													</div>
												</th:block>				
											</div>
										</div>							
									</div>
									
									<!-- SEPARADOR -->
									<div class="mt-4 mb-2">
									    <h5 class="fw-semibold text-primary border-bottom pb-2">
									        <i class="bi bi-geo-alt me-1"></i> Endereço
									    </h5>
									</div>
									
									<div class="row mt-3">
									    <div class="mb-3 col-md-2">
									        <label class="form-label">CEP</label>
									        <input class="form-control js-cep" th:field="*{endereco.cep}" />
									    </div>
									    
									    <div class="mb-3 col-md-5">
									        <label class="form-label">Logradouro</label>
									        <input class="form-control" th:field="*{endereco.logradouro}" />
									    </div>
									    
									    <div class="mb-3 col-md-1">
									        <label class="form-label">Número</label>
									        <input class="form-control" th:field="*{endereco.numero}" />
									    </div>
									
									    <div class="mb-3 col-md-3">
									        <label class="form-label">Complemento</label>
									        <input class="form-control" th:field="*{endereco.complemento}" />
									    </div>
									    
									    <div class="mb-3 col-md-3">
									        <label class="form-label">Bairro</label>
									        <input class="form-control" th:field="*{endereco.bairro}" />
									    </div>
									    
									    <div class="mb-3 col-md-2">
									        <label class="form-label">Estado</label>
									        <select id="estado" class="form-select" th:field="*{endereco.estado}">
									            <option value="">Selecione o estado</option>
									            <option th:each="estado : ${estados}" th:value="${estado.id}" th:text="${estado.nome}"></option>
									        </select>
									    </div>
									
									    <div class="mb-3 col-md-3">
									        <label class="form-label">Cidade</label>
									        <div class="altus-field-action">
									            <!-- <input type="hidden" id="inputHiddenCidadeSelecionada" th:value="*{endereco.cidade} != null ? *{endereco.cidade.id}"/>  -->
									            
									            <select id="cidade" class="form-select" th:attr="data-url=@{/cidades}" th:field="*{endereco.cidade}"></select>
									
									            <div class="altus-field-action__icon js-img-loading" style="display: none;">
									                <img th:src="@{/images/mini-loading.gif}"/>
									            </div>
									        </div>
									    </div>  
									</div>
									
									<!-- SEPARADOR -->
									<div class="mt-4 mb-2">
									    <h5 class="fw-semibold text-primary border-bottom pb-2">
									        <i class="bi bi-telephone me-1"></i> Contato
									    </h5>
									</div>
									
									<div class="row">
										<div class="mb-3 col-md-4">
											<label class="form-label">E-mail</label>
											<input class="form-control" type="email" th:field="*{email}"/>
										</div>
										
										<div class="mb-3 col-md-2">
											<label class="form-label">Telefone</label>
											<input class="form-control js-telefone" th:field="*{telefone}" />
										</div>
										
										<div class="mb-3 col-md-2">
											<label class="form-label">Celular</label>
											<input class="form-control js-telefone" th:field="*{celular}" />
										</div>
										
										<div class="mb-3 col-md-4">
											<label class="form-label">Site</label>
											<input class="form-control" th:field="*{site}" />
										</div>
									</div>
									
									<!-- SEPARADOR -->
									<div class="mt-4 mb-2">
									    <h5 class="fw-semibold text-primary border-bottom pb-2">
									        <i class="bi bi-telephone me-1"></i>Configurações
									    </h5>
									</div>
									
									<div class="row">
										<div class="mb-3 col-md-4">
											<label  class="form-label">Status</label>
							                <div>
							                	<input type="checkbox" class="js-status" data-size="small" data-off-color="danger" data-on-text="ATIVO" data-off-text="INATIVO" th:field="*{ativo}" />
							                </div>									
										</div>
									</div>
								</div>					
							</div>

							<!-- BOTÕES -->
							<div class="mt-3">
								<button type="submit" class="btn btn-primary">Cadastrar Empresa</button>
								<button type="reset" class="btn btn-outline-secondary">Cancelar</button>
							</div>
						</form>
					</div>
				</div>			
			</div>
		</div>
	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/empresa.combo-estado-cidade.js}"></script>
		<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
		<script>
        $('.js-status').each(function () {
	        var $this = $(this);
	        $this.bootstrapSwitch();
	        $this.bootstrapSwitch('state', $this.prop('checked'), true);
	    });
    </script>
	</th:block>
</body>
</html>