<!DOCTYPE html>
<!-- beautify ignore:start -->
<html lang="pt" 
	class="light-style layout-menu-fixed" 
	dir="ltr" 
	data-theme="theme-default" 
	data-assets-path="/layout/" 
	data-template="vertical-menu-template-free"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">

<head></head>

<body>
	<section layout:fragment='conteudo'>
		<!-- Content wrapper -->
		<div class="content-wrapper">
 			<!-- Content -->
 			<div class="container-xxl flex-grow-1 container-p-y">
   				<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Configurações de Conta /</span> Conta</h4>
	   			<div class="row">
	     			<div class="col-md-12">
	       				<ul class="nav nav-pills flex-column flex-md-row mb-3">
	         				<li class="nav-item">
	           					<a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i>Conta</a>
	         				</li>
	         				<li class="nav-item">
	           					<a class="nav-link" href="pages-account-settings-notifications.html"><i class="bx bx-bell me-1"></i> Notificações</a>
	         				</li>
	         				<li class="nav-item">
	           					<a class="nav-link" href="pages-account-settings-connections.html"><i class="bx bx-link-alt me-1"></i> Conexões</a>
	         				</li>
	       				</ul>
	       				<div class="card mb-4">
	         				<h5 class="card-header">Detalhes do perfil</h5>
	         				<!-- Conta -->
	         				<div class="card-body">
	           					<div class="d-flex align-items-start align-items-sm-center gap-4">
	             					<img src="/layout/img/avatars/1.png" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar" />
	             					<div class="button-wrapper">
	               						<label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
	                 						<span class="d-none d-sm-block">CarregarA nova foto</span>
	                 						<i class="bx bx-upload d-block d-sm-none"></i>
	 	                    					<input type="file" id="upload" class="account-file-input" hidden accept="image/png, image/jpeg"/>
	               						</label>
	               						<button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
	                 						<i class="bx bx-reset d-block d-sm-none"></i>
	                 						<span class="d-none d-sm-block">Reset</span>
	               						</button>
	
	               						<p class="text-muted mb-0">Formatos permitidos: JPG, GIF ou PNG. Tamanho máximo de 800 KB.</p>
	             					</div>
	           					</div>
	         				</div>
	         				<hr class="my-0" />
	         				<div class="card-body"> 
	         					<th:block th:include="msgs/MsgSucesso"></th:block>                                       
	         					<form id="formFuncionario" method="POST" th:object="${funcionario}" novalidate>
	         						<th:block th:include="msgs/MsgErroValidacao"></th:block>
									<!-- Abas -->
								 	<ul class="nav nav-tabs mb-3" role="tablist">
								   		<li class="nav-item">
									    		<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#dadosPessoais">Dados Pessoais</button>
										</li>
										<li class="nav-item">
											<button class="nav-link" data-bs-toggle="tab" data-bs-target="#endereco">Endereço</button>
										</li>
										<li class="nav-item">
											<button class="nav-link" data-bs-toggle="tab" data-bs-target="#documentacao">Documentação</button>
										</li>									
										<li class="nav-item">
											<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profissional">Dados Profissionais</button>
										</li>
										<li class="nav-item">
											<button class="nav-link" data-bs-toggle="tab" data-bs-target="#contrato">Contrato</button>
										</li>
										<li class="nav-item">
											<button class="nav-link" data-bs-toggle="tab" data-bs-target="#dependentes">Dependentes</button>
										</li>
									</ul>
	
									<!-- Conteúdo das abas -->
									<div class="tab-content">				
										<!-- ================= DADOS PESSOAIS ================= -->
										<div class="tab-pane fade show active" id="dadosPessoais">
											<div class="row">
												<div class="mb-3 col-md-4">
					      							<label class="form-label">Nome Completo</label>
					      							<input class="form-control" type="text" th:field="*{nome}"/>
					    						</div>
					    						
					    						<div class="mb-3 col-md-4">
					      							<label class="form-label">Nome Social</label>
					      							<input class="form-control" type="text" th:field="*{nomeSocial}"/>
					    						</div>
					    						
					    						<div class="mb-3 col-md-2">
						      						<label class="form-label">Telefone</label>
						      						<input class="form-control js-telefone" type="text" th:field="*{telefone}"/>
						    					</div>		
						    					
						    					<div class="mb-3 col-md-2">
					      							<label class="form-label">Data de Nascimento</label>
					      							<input class="form-control" type="date" th:field="*{dataNascimento}"/>
					    						</div>
					    						
					    						<div class="mb-3 col-md-3">
						      						<label class="form-label">E-mail</label>
						      						<input class="form-control" type="email" th:field="*{email}"/>
						    					</div>
	
												<div class="mb-3 col-md-2">
													<label class="form-label" for="sexo">Sexo</label>
													<select class="form-select" id="sexo" th:field="*{sexo}">
													    <option value="">Sexo</option>
													    <option th:each="sexo : ${sexos}" th:value="${sexo}" th:text="${sexo.descricao}"></option>
													</select>
												</div>
												
												<div class="mb-3 col-md-2">
													<label class="form-label" for="estadoCivil">Estado Civil</label>
													<select class="form-select" id="estadoCivil" th:field="*{estadoCivil}">
													    <option value="">Estado Civil</option>
													    <option th:each="estadoCivil : ${estadoCivis}" th:value="${estadoCivil}" th:text="${estadoCivil.descricao}"></option>
													</select>
												</div>
												
												<div class="mb-3 col-md-4">
					      							<label class="form-label">Nome do Pai</label>
					      							<input class="form-control" type="text" th:field="*{nomePai}"/>
					    						</div>
					    						
					    						<div class="mb-3 col-md-4">
					      							<label class="form-label">Nome da Mãe</label>
					      							<input class="form-control" type="text" th:field="*{nomeMae}"/>
					    						</div>
					    						
					    						<div class="mb-3 col-md-3">
					      							<label class="form-label">Contato emergência</label>
					      							<input class="form-control" type="text" th:field="*{nomeContatoEmergencia}"/>
					    						</div>
					    						
					    						<div class="mb-3 col-md-2">
						      						<label class="form-label">Telefone emergência</label>
						      						<input class="form-control js-telefone" type="text" th:field="*{telefoneContatoEmergencia}"/>
						    					</div>					
											</div>
										</div>
	
									    <!-- ================= ENDEREÇO ================= -->
									    <div class="tab-pane fade" id="endereco">
											<div class="row mt-3">
											    <div class="mb-3 col-md-2">
											        <label class="form-label">CEP</label>
											        <input class="form-control js-cep" th:field="*{endereco.cep}" />
											    </div>
											    
											    <div class="mb-3 col-md-5">
											        <label class="form-label">Logradouro</label>
											        <input class="form-control" th:field="*{endereco.logradouro}" />
											    </div>
											    
											    <div class="mb-3 col-md-1">
											        <label class="form-label">Número</label>
											        <input class="form-control" th:field="*{endereco.numero}" />
											    </div>
											
											    <div class="mb-3 col-md-3">
											        <label class="form-label">Complemento</label>
											        <input class="form-control" th:field="*{endereco.complemento}" />
											    </div>
											    
											    <div class="mb-3 col-md-3">
											        <label class="form-label">Bairro</label>
											        <input class="form-control" th:field="*{endereco.bairro}" />
											    </div>
											    
											    <div class="mb-3 col-md-2">
											        <label class="form-label">Estado</label>
											        <select id="estado" class="form-select" th:field="*{endereco.estado}">
											            <option value="">Selecione o estado</option>
											            <option th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}"></option>
											        </select>
											    </div>
											
											    <div class="mb-3 col-md-3">
											        <label class="form-label">Cidade</label>
											        <div class="altus-field-action">
											            <input type="hidden" id="inputHiddenCidadeSelecionada" th:value="*{endereco.cidade} != null ? *{endereco.cidade.codigo}"/>
											            
											            <select id="cidade" class="form-select" th:attr="data-url=@{/cidades}" th:field="*{endereco.cidade}"></select>
											
											            <div class="altus-field-action__icon js-img-loading" style="display: none;">
											                <img th:src="@{/images/mini-loading.gif}"/>
											            </div>
											        </div>
											    </div>
											</div>
									    </div>
	
										<!-- ================= DOCUMENTAÇÃO ================= -->
										<div class="tab-pane fade" id="documentacao">
											<div class="row">
												<div class="mb-3 col-md-2">
										          	<label class="form-label">CPF</label>
										          	<input class="form-control" type="text" th:field="*{cpf}"/>
										        </div>
										        
										        <div class="mb-3 col-md-2">
										          	<label class="form-label">R.G.</label>
										          	<input class="form-control" type="text" th:field="*{rg}"/>
										        </div>
										        
										        <div class="mb-3 col-md-2">
										          	<label class="form-label">PIS/PASEP/NIT/NIS</label>
										          	<input class="form-control" type="text" th:field="*{pis}"/>
										        </div>
										        
										        <div class="mb-3 col-md-2">
										          	<label class="form-label">Título de Eleitor</label>
										          	<input class="form-control" type="text" th:field="*{tituloEleitor}"/>
										        </div>
										        
										        <div class="mb-3 col-md-2">
										          	<label class="form-label">Carteira de Trabalho</label>
										          	<input class="form-control" type="text" th:field="*{carteiraTrabalho}"/>
										        </div>
											</div>
										</div>
	
									    <!-- ================= PROFISSIONAL ================= -->
									    <div class="tab-pane fade" id="profissional">
									    	<div class="row">																
										        <div class="mb-3 col-md-2">
										          	<label class="form-label">Cargo</label>
										          	<input class="form-control" type="text" th:field="*{cargo}"/>
										        </div>
										
										        <div class="mb-3 col-md-2">
										          	<label class="form-label">Departamento</label>
										          	<input class="form-control" type="text" th:field="*{departamento}"/>
										        </div>
										
										        <div class="mb-3 col-md-2">
										          	<label class="form-label">Salário</label>
										          	<input class="form-control" type="number" step="0.01" th:field="*{salario}"/>
										        </div>						
									    	</div>
									    </div>
	
									    <!-- ================= CONTRATO ================= -->
									    <div class="tab-pane fade" id="contrato">
									    	<div class="row">
										        <div class="mb-3 col-md-2">
										          	<label class="form-label">Data de Admissão</label>
										          	<input class="form-control" type="date" th:field="*{dataAdmissao}"/>
										        </div>
										
										        <div class="mb-3 col-md-2">
													<label class="form-label" for="tipoContrato">Tipo de Contrato</label>
													<select class="form-select" id="tipoContrato" th:field="*{tipoContrato}">
													    <option value="">Tipode Contrato</option>
													    <option th:each="tipoContrato : ${tipoContratos}" th:value="${tipoContrato}" th:text="${tipoContrato.descricao}"></option>
													</select>
												</div>
									
										        <div class="mb-3 col-md-2">
													<label class="form-label" for="situacao">Situação</label>
													<select class="form-select" id="situacao" th:field="*{situacao}">
													    <option value="">Situação</option>
													    <option th:each="situacao : ${situacoes}" th:value="${situacao}" th:text="${situacao.descricao}"></option>
													</select>
												</div>						
									    	</div>
									    </div>
									    
									    <!-- ================= DEPENDENTES ================= -->
									    <div class="tab-pane fade" id="dependentes">
									    </div>	
									</div>
	
								 	<!-- Botões -->
								 	<div class="mt-3">
								   		<button type="submit" class="btn btn-primary">Cadastrar Funcionário</button>
								   		<button type="reset" class="btn btn-outline-secondary">Cancelar</button>
								 	</div>
	          					</form>
	         				</div>
	         				<!-- /Account -->
	       				</div>		       			
	     			</div>
	   			</div>
 			</div>
 		</div>
 		<!-- / Content -->
	</section>
	
	<!-- Footer -->
	<footer class="content-footer footer bg-footer-theme">
		<div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
			<div class="mb-2 mb-md-0">
				© <script>document.write(new Date().getFullYear());</script>, feito com ❤️ por
			    <a href="https://altusrh.com.br" target="_blank" class="footer-link fw-bolder">Altus RH</a>
			</div>
			<div>
				<a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">Licença</a>
			    <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">Sobre</a>
			    <a href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/" target="_blank" class="footer-link me-4">Documentação</a>
			    <a href="https://github.com/themeselection/sneat-html-admin-template-free/issues" target="_blank" class="footer-link me-4">Suporte</a>
			</div>
		</div>
	</footer>
	<!-- / Footer -->
	
	<div class="content-backdrop fade"></div>
	          		
	<div class="layout-overlay layout-menu-toggle"></div>

</body>
</html>
