<!DOCTYPE html>
<!-- beautify ignore:start -->
<html lang="pt" 
	class="light-style layout-menu-fixed" 
	dir="ltr" 
	data-theme="theme-default" 
	data-assets-path="/layout/" 
	data-template="vertical-menu-template-free"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">

<head>
</head>

<body>
	<section layout:fragment='conteudo'>
		<!-- Content wrapper -->
		<div class="content-wrapper">
 			<!-- Content -->
 			<div class="container-xxl flex-grow-1 container-p-y">
   				<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Configurações de Conta /</span> Conta</h4>
	   			<div class="row">
	     			<div class="col-md-12">
	       				<ul class="nav nav-pills flex-column flex-md-row mb-3">
	         				<li class="nav-item">
	           					<a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i>Conta</a>
	         				</li>
	         				<li class="nav-item">
	           					<a class="nav-link" href="pages-account-settings-notifications.html"><i class="bx bx-bell me-1"></i> Notificações</a>
	         				</li>
	         				<li class="nav-item">
	           					<a class="nav-link" href="pages-account-settings-connections.html"><i class="bx bx-link-alt me-1"></i> Conexões</a>
	         				</li>
	       				</ul>
	       				<div class="card mb-4">
	         				<h5 class="card-header">Detalhes do perfil</h5>
	         				<!-- Conta -->
	         				<div class="card-body">
	           					<div class="d-flex align-items-start align-items-sm-center gap-4">
	             					<img src="/layout/img/avatars/1.png" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar" />
	             					<div class="button-wrapper">
	               						<label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
	                 						<span class="d-none d-sm-block">CarregarA nova foto</span>
	                 						<i class="bx bx-upload d-block d-sm-none"></i>
	 	                    					<input type="file" id="upload" class="account-file-input" hidden accept="image/png, image/jpeg"/>
	               						</label>
	               						<button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
	                 						<i class="bx bx-reset d-block d-sm-none"></i>
	                 						<span class="d-none d-sm-block">Reset</span>
	               						</button>
	
	               						<p class="text-muted mb-0">Formatos permitidos: JPG, GIF ou PNG. Tamanho máximo de 800 KB.</p>
	             					</div>
	           					</div>
	         				</div>
	         				<hr class="my-0" />
	         				<div class="card-body"> 
	         					<th:block th:include="msgs/MsgSucesso"></th:block>                                       
	         					<form id="formFuncionario" method="POST" th:object="${funcionario}" novalidate>
	         						<th:block th:include="msgs/MsgErroValidacao"></th:block>
									
								 	<ul class="nav nav-tabs mb-3" role="tablist">
								   		<li class="nav-item">
									    		<button type="button" class="nav-link active" data-bs-toggle="tab" data-bs-target="#dadosPessoais">Dados Pessoais</button>
										</li>
										<li class="nav-item">
											<button type="button" class="nav-link" data-bs-toggle="tab" data-bs-target="#endereco">Endereço</button>
										</li>
										<li class="nav-item">
											<button type="button" class="nav-link" data-bs-toggle="tab" data-bs-target="#documentacao">Documentação</button>
										</li>									
										<li class="nav-item">
											<button type="button" class="nav-link" data-bs-toggle="tab" data-bs-target="#profissional">Dados Profissionais</button>
										</li>
										<li class="nav-item">
											<button type="button" class="nav-link" data-bs-toggle="tab" data-bs-target="#contrato">Contrato</button>
										</li>
										<li class="nav-item">
											<button type="button" class="nav-link" data-bs-toggle="tab" data-bs-target="#dependentes">Dependentes</button>
										</li>
										<li class="nav-item">
											<button type="button" class="nav-link" data-bs-toggle="tab" data-bs-target="#saudeOcupacional">Saúde Ocupacional</button>
										</li>
									</ul>
	
									<!-- Conteúdo das abas -->
									<div class="tab-content">				
										<!-- ================= DADOS PESSOAIS ================= -->
										<div class="tab-pane fade show active" id="dadosPessoais">
											<div class="row">
												<div class="mb-3 col-md-4">
					      							<label class="form-label">Nome Completo<span class="text-danger">*</span></label>
					      							<input class="form-control" type="text" th:field="*{nome}" th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'"/>
					      							<div class="invalid-feedback" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"> </div>
					    							</div>
					    						
						    						<div class="mb-3 col-md-4">
						      						<label class="form-label">Nome Social</label>
						      						<input class="form-control" type="text" th:field="*{nomeSocial}"/>
						    						</div>
						    						
						    						<div class="mb-3 col-md-2">
							      					<label class="form-label">Telefone<span class="text-danger">*</span></label>
							      					<input class="form-control js-telefone" type="text" th:field="*{telefone}" th:classappend="${#fields.hasErrors('telefone')} ? 'is-invalid'"/>
							    						<div class="invalid-feedback" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></div>
							    					</div>		
						    					
							    					<div class="mb-3 col-md-2">
						      						<label class="form-label">Data de Nascimento<span class="text-danger">*</span></label>
						      						<input class="form-control" type="date" th:field="*{dataNascimento}" th:classappend="${#fields.hasErrors('dataNascimento')} ? 'is-invalid'"/>
						      						<div class="invalid-feedback" th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}"> </div>
						    						</div>
						    						
						    						<div class="mb-3 col-md-3">
							      					<label class="form-label">E-mail</label>
							      					<input class="form-control" type="email" th:field="*{email}"/>
							    					</div>
	
												<div class="mb-3 col-md-2">
													<label class="form-label" for="sexo">Sexo<span class="text-danger">*</span></label>
													<select class="form-select" id="sexo" th:field="*{sexo}" th:classappend="${#fields.hasErrors('sexo')} ? 'is-invalid'">
													    <option value="">Sexo</option>
													    <option th:each="sexo : ${sexos}" th:value="${sexo}" th:text="${sexo.descricao}"></option>
													</select>
													<div class="invalid-feedback" th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}"></div>
												</div>
												
												<div class="mb-3 col-md-2">
													<label class="form-label" for="estadoCivil">Estado Civil<span class="text-danger">*</span></label>
													<select class="form-select" id="estadoCivil" th:field="*{estadoCivil}" th:classappend="${#fields.hasErrors('sexo')} ? 'is-invalid'">
													    <option value="">Estado Civil</option>
													    <option th:each="estadoCivil : ${estadoCivis}" th:value="${estadoCivil}" th:text="${estadoCivil.descricao}"></option>
													</select>
													<div class="invalid-feedback" th:if="${#fields.hasErrors('estadoCivil')}" th:errors="*{estadoCivil}"></div>
												</div>
												
												<div class="mb-3 col-md-4">
					      							<label class="form-label">Nome do Pai</label>
					      							<input class="form-control" type="text" th:field="*{nomePai}"/>
					    							</div>
					    						
					    							<div class="mb-3 col-md-4">
					      							<label class="form-label">Nome da Mãe</label>
					      							<input class="form-control" type="text" th:field="*{nomeMae}"/>
					    							</div>
					    						
					    							<div class="mb-3 col-md-3">
					      							<label class="form-label">Contato emergência</label>
					      							<input class="form-control" type="text" th:field="*{nomeContatoEmergencia}"/>
					    							</div>
					    						
					    							<div class="mb-3 col-md-2">
						      						<label class="form-label">Telefone emergência</label>
						      						<input class="form-control js-telefone" type="text" th:field="*{telefoneContatoEmergencia}"/>
						    						</div>					
											</div>
										</div>
	
									    <!-- ================= ENDEREÇO ================= -->
									    <div class="tab-pane fade" id="endereco">
											<div class="row">
											    <div class="mb-3 col-md-2">
											        <label class="form-label">CEP<span class="text-danger">*</span></label>
											        <input class="form-control js-cep" th:field="*{endereco.cep}" th:classappend="${#fields.hasErrors('endereco.cep')} ? 'is-invalid'"/>
											    		<div class="invalid-feedback" th:if="${#fields.hasErrors('endereco.cep')}" th:errors="*{endereco.cep}"></div>
											    </div>										    
											    
											    <div class="mb-3 col-md-4">
											        <label class="form-label">Logradouro<span class="text-danger">*</span></label>
											        <input class="form-control" th:field="*{endereco.logradouro}" th:classappend="${#fields.hasErrors('endereco.logradouro')} ? 'is-invalid'"/>
											        <div class="invalid-feedback" th:if="${#fields.hasErrors('endereco.logradouro')}" th:errors="*{endereco.logradouro}"></div>
											    </div>
											    
											    <div class="mb-3 col-md-1">
											        <label class="form-label">Número<span class="text-danger">*</span></label>
											        <input class="form-control" th:field="*{endereco.numero}" th:classappend="${#fields.hasErrors('endereco.numero')} ? 'is-invalid'"/>
											        <div class="invalid-feedback" th:if="${#fields.hasErrors('endereco.numero')}" th:errors="*{endereco.numero}"></div>
											    </div>
											
											    <div class="mb-3 col-md-4">
											        <label class="form-label">Complemento</label>
											        <input class="form-control" th:field="*{endereco.complemento}"/>
											    </div>
											    
											    <div class="mb-3 col-md-3">
											        <label class="form-label">Bairro<span class="text-danger">*</span></label>
											        <input class="form-control" th:field="*{endereco.bairro}" th:classappend="${#fields.hasErrors('endereco.bairro')} ? 'is-invalid'"/>
											        <div class="invalid-feedback" th:if="${#fields.hasErrors('endereco.bairro')}" th:errors="*{endereco.bairro}"></div>
											    </div>
											    
											    <div class="mb-3 col-md-2">
											        <label class="form-label">Estado<span class="text-danger">*</span></label>
											        <select id="estado" class="form-select" th:field="*{endereco.estado}" th:classappend="${#fields.hasErrors('endereco.estado')} ? 'is-invalid'">
											            <option value="">Selecione o estado</option>
											            <option th:each="estado : ${estados}" th:value="${estado.id}" th:text="${estado.nome}"></option>
											        </select>
											        <div class="invalid-feedback" th:if="${#fields.hasErrors('endereco.estado')}" th:errors="*{endereco.estado}"> </div>
											    </div>
											
											    <div class="mb-3 col-md-3">
											        <label class="form-label">Cidade<span class="text-danger">*</span></label>
											        <div class="altus-field-action">
											            <input type="hidden" id="inputHiddenCidadeSelecionada" th:value="*{endereco.cidade} != null ? *{endereco.cidade.id}" th:classappend="${#fields.hasErrors('endereco.cidade')} ? 'is-invalid'"/>
											            
											            <select id="cidade" class="form-select" th:attr="data-url=@{/cidades}" th:field="*{endereco.cidade}"></select>
														<div class="invalid-feedback" th:if="${#fields.hasErrors('endereco.cidade')}" th:errors="*{endereco.cidade}"> </div>
											            <div class="altus-field-action__icon js-img-loading" style="display: none;">
											                <img th:src="@{/images/mini-loading.gif}"/>
											            </div>
											        </div>
											    </div>
											</div>
									    </div>
	
										<!-- ================= DOCUMENTAÇÃO ================= -->
										<div class="tab-pane fade" id="documentacao">
											<div class="row">
												<div class="mb-3 col-md-2">
										          	<label class="form-label">CPF<span class="text-danger">*</span></label>
										          	<input class="form-control" type="text" th:field="*{cpf}" th:classappend="${#fields.hasErrors('cpf')} ? 'is-invalid'"/>
										        		<div class="invalid-feedback" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></div>
										        </div>
										        
										        <div class="mb-3 col-md-2">
										          	<label class="form-label">R.G.<span class="text-danger">*</span></label>
										          	<input class="form-control" type="text" th:field="*{rg}" th:classappend="${#fields.hasErrors('rg')} ? 'is-invalid'"/>
										          	<div class="invalid-feedback" th:if="${#fields.hasErrors('rg')}" th:errors="*{rg}"> </div>
										        </div>
										        
										        <div class="mb-3 col-md-2">
										          	<label class="form-label">PIS/PASEP/NIT/NIS</label>
										          	<input class="form-control" type="text" th:field="*{pis}"/>
										        </div>
										        
										        <div class="mb-3 col-md-2">
										          	<label class="form-label">Título de Eleitor</label>
										          	<input class="form-control" type="text" th:field="*{tituloEleitor}"/>
										        </div>
										        
										        <div class="mb-3 col-md-2">
										          	<label class="form-label">Carteira de Trabalho</label>
										          	<input class="form-control" type="text" th:field="*{carteiraTrabalho}"/>
										        </div>
											</div>
										</div>
	
									    <!-- ================= PROFISSIONAL ================= -->
									    <div class="tab-pane fade" id="profissional">
									    		
									    </div>
	
									    <!-- ================= CONTRATO ================= -->
									    <div class="tab-pane fade" id="contrato">
									    		<div class="row">
										        
									
										        <div class="mb-3 col-md-2">
													<label class="form-label" for="situacao">Situação</label>
													<select class="form-select" id="situacao" th:field="*{situacao}">
													    <option value="">Situação</option>
													    <option th:each="situacao : ${situacoes}" th:value="${situacao}" th:text="${situacao.descricao}"></option>
													</select>
												</div>						
									    		</div>
									    </div>
									    
									    <!-- ================= DEPENDENTES ================= -->
									    <div class="tab-pane fade" id="dependentes">
									    </div>	
									</div>
	
								 	<!-- Botões -->
								 	<div class="mt-3">
								   		<button type="submit" class="btn btn-primary"><i class="bx bx-save"></i>Cadastrar Funcionário</button>
								   		<button type="reset" class="btn btn-outline-secondary"><i class="bx bx-x"></i>Cancelar</button>
								 	</div>
	          					</form>
	         				</div>
	         				<!-- /Account -->
	       				</div>		       			
	     			</div>
	   			</div>
 			</div>
 		</div>
 		<!-- / Content -->
	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/empresa.combo-estado-cidade.js}"></script>
	</th:block>
	
	
	<div class="content-backdrop fade"></div>
	          		
	<div class="layout-overlay layout-menu-toggle"></div>

</body>
</html>
