<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<body>
	<h1>Cadastro de Funcionário</h1>
	
	<div th:each="erro: ${#fields.detailedErrors('${funcionario.*}')}">
		<span th:text="${erro.message}"></span>
	</div>
	
	<form method="POST" th:object="${funcionario}">
	    <span th:text="${mensagem}"></span>
	    <br>
	    
	    <label for="nome">NOME</label>    
	    <input type="text" th:field="*{nome}"/>
	    <br>
	    
	    <label for="cpf">CPF</label>    
	    <input type="text" th:field="*{cpf}"/>
	    <br>
	    
	    <label for="email">EMAIL</label>    
	    <input type="text" th:field="*{email}"/>
	    <br>
	
	    <input type="submit" value="Salvar">
	</form>

</body>
</html>