<!DOCTYPE html>
<html lang="pt"
	class="light-style layout-menu-fixed"
	dir="ltr"
	data-theme="theme-default"
	data-assets-path="/layout/"
	data-template="vertical-menu-template-free"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">

<body>
<section layout:fragment='conteudo'>

<div class="container-xxl flex-grow-1 container-p-y">

	<h4 class="fw-bold py-3 mb-4">
		<span class="text-muted fw-light">RH /</span> Departamento
	</h4>

	<!-- ================= FILTROS ================= -->
	<div class="card mb-4">
		<div class="card-body">
			<form method="GET" th:action="@{/departamentos}">
				<div class="row">

					<div class="col-md-3">
						<input type="text" name="nome" class="form-control" placeholder="Buscar por nome..."/>
					</div>

					<div class="col-md-2">
						<select name="situacao" class="form-select">
							<option value="">Empresa</option>
							<option value="ATIVO">Ativo</option>
							<option value="INATIVO">Inativo</option>
						</select>
					</div>

					<div class="col-md-3">
						<button class="btn btn-primary"><i class="bx bx-search"></i> Filtrar</button>
						<a th:href="@{/funcionarios}" class="btn btn-outline-secondary">Limpar</a>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- ================= TABELA ================= -->
	<div class="card">
		<div class="card-header d-flex justify-content-between">
			<h5>Lista de Departamentos</h5>
			<a href="#" data-bs-toggle="modal" data-bs-target="#modalCadastroDepartamento" class="btn btn-success">
				<i class="bx bx-plus altus-field-action"></i> Novo Departamento		
			</a>
		</div>

		<div class="table-responsive text-nowrap">
			<table class="table table-hover js-tabela-departamentos">
				<thead>
					<tr>
						<th>Código</th>
						<th>Nome</th>
						<th>Empresa</th>
						<th>Ações</th>
					</tr>
				</thead>

				<tbody th:fragment="listaDepartamentos">
					<tr th:each="departamento : ${departamentos}">				
						<td th:text="${departamento.id}"></td>
						<td th:text="${departamento.nome}"></td>
						<td th:text="${departamento.empresa.razaoSocial}"></td>
					
						<td>
							<div class="dropdown">
								<button class="btn btn-sm btn-icon" data-bs-toggle="dropdown">
									<i class="bx bx-dots-vertical-rounded"></i>
								</button>
							 	<div class="dropdown-menu">
									<a class="dropdown-item" th:href="@{/departamento/{id}(id=${departamento.id})}"><i class="bx bx-show"></i> Visualizar</a>
									<a class="dropdown-item" th:href="@{/departamento/editar/{id}(id=${departamento.id})}"><i class="bx bx-edit"></i> Editar</a>
									<a class="dropdown-item text-danger" th:href="@{/departamento/desligar/{id}(id=${departamento.id})}"><i class="bx bx-user-x"></i> Desligar</a>
								</div> 
							</div>
						</td>
					</tr>
					<tr th:if="${departamentos.empty}">
		                <td colspan="3">Nenhum departamento cadastrado</td>
		            </tr>
				</tbody>
			</table>
		</div>

		<!-- ================= PAGINAÇÃO ================= -->
		<div class="card-footer">
			<nav>
				<ul class="pagination justify-content-end">
					<li class="page-item">
						<a class="page-link" href="#">Anterior</a>
					</li>
					<li class="page-item active">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">Próximo</a>
					</li>
				</ul>
			</nav>
		</div>

	</div>

</div>

<div th:replace="departamento/CadastroDepartamento :: modal"></div>

</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/departamento.cadastro.js}"></script>
</th:block>

</body>
</html>