<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>

	<!-- Footer -->
	<footer class="content-footer footer bg-footer-theme" th:fragment="layout-footer">
		<div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
			<div class="mb-2 mb-md-0">
				© <script>document.write(new Date().getFullYear());</script>, feito com ❤️ por
			    <a href="https://altusrh.com.br" target="_blank" class="footer-link fw-bolder">Altus RH</a>
			</div>
			<div>
				<a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">Licença</a>
			    <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">Sobre</a>
			    <a href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/" target="_blank" class="footer-link me-4">Documentação</a>
			    <a href="https://github.com/themeselection/sneat-html-admin-template-free/issues" target="_blank" class="footer-link me-4">Suporte</a>
			</div>
		</div>
	</footer>
	<!-- / Footer -->
</body>
</html>